<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testng.xml">

	<listeners>
		<listener class-name="com.qa.fb.ExtentReportListener.ExtentReportNG" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qa.fb.Tests.LoginTest" />
			<class name="com.qa.fb.Tests.HomeTest" />
			<class name="com.qa.fb.Tests.MarketplaceTest" />
			<class name="com.qa.fb.Tests.RegisterTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- testng.xml -->
